
# /
target/
/docroot
/*.log
*.iml
/*.ipr
/*.iws
/.idea
/.project
/.classpath
/.settings
/.checkstyle
/src/main/resources/rebel.xml
.DS_Store
release.properties
pom.xml.next
pom.xml.releaseBackup
pom.xml.tag
