body {
	margin: 0;
	padding: 0;
	font-family: Verdana, Arial, sans-serif;
	font-size: 11px;
	color: #333333;
	background-color: #4d4d4d;
}
h1, h2, h3, h4, h5 {
	margin: 0;
	padding: 0;
}
h1 {
	font-size: 13px;
}
h2 {
	font-size: 12px;
}
h3, h4 {
	font-size: 11px;
}
a {
	color: black;
}
a:hover {
	color: #444444;
}
#panel {
	width: 950px;
	margin: 0 auto;
	padding: 0 16px 0 10px;
	background-image: url("../images/bg_panel.jpg");
	background-repeat: repeat-y;
}
#header {
	position: relative;
	background-color: black;
	color: white;
	height: 100px;
	position: relative;
}
#logo {
	display: block;
	position: absolute;
	top: 15px;
	right: 0px;
}
#logo img {
	width: 175px;
}
div.leftcol {
	float: left;
	width: 175px;
	color: #999999;
}
div.centercol {
	float: left;
	width: 600px;
}
div.rightcol {
	float: left;
	width: 175px;
	color: #999999;
}
div.cleaner {
	clear: both;
	height: 0;
	overflow: hidden;
}
/* main navigation ********************************************************************************/
div#mainnav ul {
	position: absolute;
	bottom: 0;
	left: 0;
	margin: 0;
	padding: 0;
	list-style-type: none;
	font-size: 12px;
	width: 764px;
	overflow: hidden;
}
div#mainnav li {
	float: left;
}
div#mainnav a {
	display: block;
	padding: 5px;
	color: white;
	text-decoration: none;
	text-transform: uppercase;
	font-weight: bold;
	border-right: 1px solid white;
}
div#mainnav li.active a, div#mainnav li.trail a, div#mainnav a:hover {
	background-color: #999999;
	color: #111111;
}
div#mainnav li.last a {
	border-right: none;
}
/* category navigation ****************************************************************************/
div.leftcol ul {
	margin: 0;
	padding: 0;
	list-style-type: none;
	border-bottom: 1px solid #666666;
}
ul.category_nav li a {
	display: block;
	padding: 3px 5px 3px 10px;
	border-top: 1px solid #666666;
	text-decoration: none;
	color: white;
}
ul.category_nav li.path a, ul.category_nav li.active a {
	font-weight: bold;
}
ul.category_nav li a:hover {
	color: #cccccc;
}
ul.category_nav ul {
	border-bottom: none;
}
ul.category_nav ul li a {
	padding-left: 20px;
}
/* content ****************************************************************************************/
div.leftcol div.text, div.rightcol div.text {
	padding: 5px;
}
div.breadcrumb {
	margin: 0 10px;
	padding: 1px 3px;
	background-color: white;
	border: 1px solid #666666;
	border-top: none;
	font-size: 9px;
	color: #999999;
}
div.breadcrumb ul {
	float: left;
	margin: 0;
	padding: 0;
	list-style-type: none;
}
div.breadcrumb ul li {
	float: left;
	padding: 0 3px;
}
div.breadcrumb ul li a {
	text-decoration: none;
	color: black;
}
div.breadcrumb ul li a:hover {
	color: #666666;
}
div.breadcrumb ul li.active a {
	font-weight: bold;
}
div.centercol h1 {
	margin: 10px;
	padding: 7px;
	border: 1px solid #666666;
	border-left-width: 5px;
	background-color: white;
	font-size: 13px;
}
div.centercol div.text {
	margin: 10px;
}
div.centercol a.more:hover {
	color: black;
}
ul.productlisting {
	margin: 5px;
	padding: 0;
	list-style-type: none;
}
ul.productlisting li {
	position: relative;
	float: left;
	height: 170px;
	width: 273px;
	border: 1px solid #666666;
	padding: 5px;
	margin: 5px;
	overflow: hidden;
	background-color: white;
}
ul.productlisting img.productImage {
	width: 100px;
	float: left;
}
ul.productlisting h2 {
	margin: 0;
	padding: 0;
	font-size: 11px;
}
ul.productlisting div.text {
	margin: 0;
	margin-left: 110px;
}
ul.productlisting div.more {
	background-image: url("../images/bg_more.png");
	background-repeat: repeat-x;
}
ul.productlisting a.more {
	display: block;
	line-height: 30px;
	padding-left: 14px;
	background-image: url("../images/arrow_right.gif");
	background-position: left center;
	background-repeat: no-repeat;
	color: #7c7c7c;
	text-decoration: none;
}
ul.productlisting div.fixed_info {
	position: absolute;
	bottom: 0; 
	right: 0;
	width: 170px;
}
ul.productlisting div.price {
	background-color: #eeeeee;
}
ul.productlisting div.tax {
	color: #999999;
	font-size: 9px;
}
ul.productlisting form.add_to_cart {
	background-color: #222222;
	margin-top: 2px;
	border-bottom: 3px solid white;
}
ul.productlisting input.quantity {
	border: 1px solid #666666;
	padding: 2px;
	width: 20px;
	text-align: right;
	margin-right: 4px;
	position: relative;
	top: 7px;
	left: 2px;
}
ul.productlisting a.add_to_cart {
	display: block;
	float: right;
	width: 95px;
	padding-left: 40px;
	background-image: url("../../shop/images/Shoppingcart_32x32.png");
}
a.button {
	float: left;
	line-height: 34px;
	padding: 0 5px 0 40px;
	background-position: 5px 0;
	background-repeat: no-repeat;
	background-color: #222222;
	color: white;
	text-decoration: none;
	text-align: left;
}
a.refresh {
	background-image: url("../../shop/images/Button-Refresh_256.png");
	background-position: 3px 1px;
}
a.button:hover {
	color: #cccccc;
}
/* product details ********************************************************************************/
div.productdetails {
	background-color: white;
	margin: 10px;
	border: 1px solid #666666;
	padding: 5px;
}
div.productdetails img.productImage {
	width: 200px;
	float: left;
}
div.productdetails div.description {
	float: right;
	width: 320px;
	margin: 0;
	position: relative;
	right: -5px;
	margin-top: 0px;
}
div.productdetails div.text { 
	margin: 0;
	margin-right: 15px;
}
div.productdetails div.price {
	margin-top: 2em;
	background-color: #eeeeee;
	font-size: 13px;
	font-weight: bold;
	padding-bottom: 3px;
}
div.productdetails div.price div.tax, div.productnumber {
	font-weight: normal;
	color: #999999;
	font-size: 9px;
}
table.shoppingcart div.productnumber {
	color: #666666;
}
div.productdetails form.add_to_cart {
	background-color: #222222;
	border-bottom: 3px solid white;
}
div.productdetails input.quantity {
	float: left;
	border: 1px solid #666666;
	padding: 2px;
	width: 20px;
	text-align: right;
	margin-right: 4px;
	position: relative;
	top: 7px;
	left: 2px;
}
div.productdetails a.add_to_cart {
	display: block;
	float: left;
	width: 100px;
	line-height: 34px;
	padding-left: 40px;
	background-image: url("../../shop/images/Shoppingcart_32x32.png");
	background-position: 5px 0;
	background-repeat: no-repeat;
	color: white;
	text-decoration: none;
}
div.productdetails a.add_to_cart:hover {
	color: #dddddd;
}
div.productdetails div.gallery {
	margin: 2em 0;
	padding-top: 5px;
	border-top: 1px solid #cccccc;
	border-bottom: 1px solid #cccccc;
}
div.productdetails div.gallery img.thumb {
	float: left;
	margin: 0 5px 5px 0;
	border: 1px solid #cccccc;
	height: 100px;
}
/* shopping cart small ****************************************************************************/
div.rightcol div.shoppingcart h3 {
	margin: 0;
	padding: 3px 5px;
	color: white;
	font-size: 11px;
}
ul.shoppingcart_small {
	margin: 0 ;
	padding: 0;
	list-style-type: none;
	border-bottom: 1px solid #666666;
}
ul.shoppingcart_small li {
	border-top: 1px solid #666666;
	padding: 5px;
}
ul.shoppingcart_small img.productImage {
	width: 40px;
	float: left;
}
ul.shoppingcart_small div.text {
	float: right;
	width: 115px;
	padding: 0;
}
ul.shoppingcart_small h4 {
	font-weight: normal;
}
div.shoppingcart a.cart {
	background-image: url("../../shop/images/Shoppingcart_32x32.png");
	width: 130px;
}
/* checkout ***************************************************************************************/
ul.checkout_steps {
	margin: 0;
	padding: 0;
	list-style-type: none;
}
ul.checkout_steps li {
	background-image: url("../images/bg_checkout_steps.gif");
	background-position: bottom center;
	background-repeat: no-repeat;
	padding-bottom: 8px;
	filter: alpha(opacity=50);
	opacity: 0.5;
	-moz-opacity: 0.5;
}
ul.checkout_steps li.active {
	filter: alpha(opacity=100);
	opacity: 1;
	-moz-opacity: 1;
}
ul.checkout_steps li.last {
	background-image: none;
	padding-bottom: 0;
	margin-bottom 8px;
}
ul.checkout_steps li div {
	background-color: #222222;
	color: white;
	padding: 10px;
}
ul.checkout_steps li a {
	color: #cccccc;
	text-decoration: none;
}
ul.checkout_steps li a:hover {
	color: white;
}
a.button_continue {
	float: right;
	background-image: url("../../shop/images/Continue_32x32.png");
	padding-right: 15px;
}
form.standard_form {
	margin: 0 10px;
	border: 1px solid #666666;
	background-color: white;
	padding: 10px;
}
form.standard_form div.form_element {
	clear: both;
	padding: 3px 0px;
}
form.standard_form label {
	float: left;
	width: 150px;
}
form.standard_form div.input_element {
	margin-left: 160px;
}
input.text {
	border: 1px solid #dddddd;
	padding: 2px;
	background-image: url("../images/bg_input_text.gif");
	background-repeat: repeat-x;
	background-color: white;
}
input.text[disabled] {
	background-color: #f4f4f4;
	color: #cccccc;
}
form.standard_form input.text {
	width: 200px;
}
div.order_addresses {
	background-color: white;
	border: 1px solid #666666;
	padding: 5px;
}
/* shopping cart big ******************************************************************************/
table.shoppingcart {
	width: 578px;
	margin: 10px;
	border: 1px solid black;
	background-color: #cccccc;
}
table.shoppingcart th, table.shoppingcart td {
	padding: 5px;
	border-bottom: 1px solid #aaaaaa;
}
table.shoppingcart tr {
	vertical-align:top;
}
table.shoppingcart th {
	text-align: left;
	background-color: white;
}
table.shoppingcart td.quantity {
	text-align: center;
}
table.shoppingcart td.quantity input {
	width: 20px;
	text-align: right;
}
table.shoppingcart td.unitprice {
	text-align: right;
}
table.shoppingcart td.total {
	text-align: right;
}
table.shoppingcart img.productImage {
	width: 60px;
}
table.shoppingcart div.tax {
	color: #666666;
	font-size: 9px;
}
table.shoppingcart tr.total td {
	text-align: right;
}
table.shoppingcart a.refresh {
	float: right;
}
/* footer *****************************************************************************************/
#footer {
	background-color: black;
	color: #666666;
	padding: 5px;
	padding-top: 15px;
}
#footer a {
	text-decoration: none;
	color: #999999;
}
#footer a:hover {
	color: #eeeeee;
}
#footer ul.footer_nav {
	float: left;
	margin: 0;
	padding: 0;
	list-style-type: none;
}
#footer ul.footer_nav li {
	float: left;
}
#footer ul.footer_nav li a {
	display: block;
	padding: 0 8px;
	border-right: 1px solid #bbbbbb;
}
#footer ul.footer_nav li.last a {
	border: none;
}
#footer div.credits {
	float: right;
}
#panel_end {
	width: 950px;
	height: 30px;
	margin: 0 auto;
	padding: 0 16px 0 10px;
	background-image: url("../images/bg_panel_bottom.jpg");
	background-repeat: no-repeat;
}
/* specials ***************************************************************************************/
div.admin {
	background-color: #cccccc;
	color: #333333;
	border: 2px dashed #999999;
	padding: 5px;
}